#movies img, #movie img{
  width:100%;
}

@media(min-width:960px){
  #movies .col-md-3 .well{
    height: 390px;
  }

  #movies .col-md-3 img{
    height:240px;
  }
}

.navbar-header {
    float: left;
    padding: 21px;
    text-align: center;
    width: 100%;
}
.navbar-brand {float:none;}

footer {
	text-align: center;
}
